@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Inter", "Poppins", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  @apply bg-white text-gray-900;
}

